/* body{
    max-width: 800px;
    margin:auto;
} */

:root{
    --primary-color: #2563EB;
    --off-white: #F3F4F6;
    --dark-gray: #6B7280;
    --gray: gray;
}

/* Avatars */

.avatar-circular{
    width:50px;
    height:50px;
    border-radius: 50%;
}

.avatar-rounded{
    width:50px;
    height:50px;
    border-radius: 15%;
}

/* Alerts */

.alert{
    border:1px solid transparent;
    padding:0 0.5rem;
    margin:0.5rem 0;
    border-radius: 0.5rem;
    text-align: center;
    width: 600px;
}

.success{
    background-color: rgb(198, 246, 213);
}

.warning{
    background-color: rgb(254, 235, 200);
}

.error{
    background-color:rgb(254, 215, 215);
}

/* Badges */

.badge{
    border: 1px solid var(--gray);
    background-color: var(--gray);
    padding: 0.2rem 0.7rem;
    border-radius:0.2rem;
    color:white;
    font-weight: bold;
}

.badge-icon{
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 50px;
    height: 50px;
    /*
    background: #dddddd;
    border: none;
    border-radius: 50%;
    margin:0.5rem 0; */
}

.badge-icon:hover{
    cursor:pointer;
}

.badge-icon:active{
    background-color: #cccccc;
}

.icon{
    width:35px;
    height:35px;
}

.badge-top{
    position:absolute;
    border: 2px solid white;
    top: 0px;
    right:3px;
    width: 20px;
    height: 20px;
    background: red;
    display: flex;
    justify-content:center;
    align-items: center;
    color:white;
    border-radius:50%;
    font-size: small;
}

.badge-avatar{
    position: relative;
    display: flex;
    width: 50px;
    height: 50px;
    /* background-color: rgb(41, 41, 41); */
    border:1px solid rgb(173, 173, 173);
    border-radius: 50%;
    justify-content:center;
    align-items: center;
}

.badge-bottom{
    position:absolute;
    border: 2px solid white;
    bottom:-2px;
    right:1px;
    width: 11px;
    height: 11px;
    background-color: rgb(4, 224, 4);
    display: flex;
    justify-content:center;
    align-items: center;
    color:white;
    border-radius:50%;
}

.btn{
    border:none;
    outline:none;
    padding:0.5rem 1rem;
    cursor:pointer;
}

.btn:hover{
    border: 1px solid black;
}

.btn-primary{
    background-color:var(--primary-color);
    border-radius: 0.25rem;
}

.btn-secondary{
    background-color:var(--gray);
    border-radius: 0.25rem;
}

.icon1{
    width:15px;
    height:15px;
}

.btn-icon{
    text-align: center;
    background-color:var(--off-white);
    border: 1px solid var(--dark-gray);
    border-radius: 0.25rem;
    padding:0.5rem 1rem;
}

.float-action{
    position: relative;
}

.btn-float{
    position: absolute;
    width:40px;
    height:40px;
    border-radius: 50%;
    bottom:0.5rem;
    right:1rem;
    font-size: x-large;
    text-align: center;
    border:none;
    outline:none;
    /* background-color:var(--primary-color); */
    background-color:var(--dark-gray);
    cursor: pointer;
}

.btn-float:hover{
    transform: scale(1.1);
}

.btn-float:active{
    background-color:var(--primary-color);
}
