body{
    margin:0;
}

/* Avatars */

.avatar-circular{
    vertical-align:center;
    width:50px;
    height:50px;
    border-radius: 50%;
}

.avatar-rounded{
    width:50px;
    height:50px;
    border-radius: 10%;
}

/* Alerts */

.alert{
    border:1px solid transparent;
    padding:0 0.5rem;
    margin:0.5rem 0;
}

.success{
    background-color: rgb(198, 246, 213);
}

.warning{
    background-color: rgb(254, 235, 200);
}

.error{
    background-color:rgb(254, 215, 215);
}

